html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  font-family: Varela Round;
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}

p {
  color: red;
  border: 1px solid black;
}

li {
  background-color: palevioletred;
  border: 1px solid black;
  margin-bottom: 5px;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


/*
   I can use this optional utility class if I want to apply 
   the "Varela Round" font only to specific elements instead 
   of the entire website.

   Usage example (in my HTML):
   <p class="varela-round-regular">This text uses Varela Round.</p>

   I would add this class to any element where I want the font applied.
   I can keep it commented out if I’m setting the font globally on body as I have done above.
*/
/* .varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
